@font-face {
    font-family: mc;
    src: url(assets/minecraft.otf);
}

body, html{
    font-family: mc;
    font-size: x-large;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/background.png");
    background-color: black;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    margin-top: 25px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: black;
    padding: 10px;
}

.wrap {
    background-color: transparent;
    width: auto;
    margin: auto;
    height: auto;
}

.head {
    max-width: 1000px;
    width: auto;
    height: 125px;
    background-color: rgba(253, 253, 253, 0.4);
}

.main {
    max-width: 1000px;
    width: auto;
    height: auto;
    background-color: rgba(253, 253, 253, 0.4);
}

.footer {
    max-width: 1000px;
    width: auto;
    height: auto;
    background-color: rgba(253, 253, 253, 0.4);
}

ul {
    max-width: 1000px;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(253, 253, 253, 0.4);
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(253, 253, 253, 0.61);
}

a:link {
    color: black;
}

a:hover{
    color: gray;
}

a:active {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}
